.logan {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #ffce54;
  background-color: #1d4e89;
}

.app-content {
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.app-content p.today {
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.7em;
}

.app-content .books {
  font-size: 1.5em;
}

.app-content .books .title {
  font-weight: bold;
}

.app-content .books .book {
  color: #7e7e7e;
}
